spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/clima-microservice-realm

logging:
  level:
    org.springframework.security: DEBUG

server:
  port: 8080

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    initial-instance-info-replication-interval-seconds: 10
    service-url:
      defaultZone: http://${EUREKA_USER}:${EUREKA_PASS}@discovery:8761/eureka
  instance:
    instance-id: ${spring.application.name}
    hostname: gateway
    prefer-ip-address: false